body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    flex-direction: column; /* Configura el body como un contenedor flex */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.header-camisetas {
  color: #68d791;
}

main {
  flex: 1; /* Hace que el main ocupe el espacio disponible entre el header y el footer */
  width: 100%;
  background: url(../img/fondo_marmol.webp) no-repeat center center;
  background-size: cover;
}

footer {
  background-color: #68d791;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative; /* Elimina el posicionamiento absoluto */
}