body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #68d791;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 60px;
    margin-left: 10px;
    border-radius: 30px;
}

header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-left: 17%;
    font-size: 24px;
    text-shadow: #000000 1px 0 10px;
}

nav {
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: #000000 1px 0 10px;
}

nav ul li a:hover {
    color: #333;
    text-shadow: #ffffff 1px 0 10px;
}

.jugadores {
    display: flex;
    margin: 40px 40px 40px 40px;
}

.pj {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.pj button {
    background-color: #68d791;
}

.pj button:hover {
    cursor: pointer;
}

footer {
    position: absolute;
  	bottom: 0;
    background-color: #68d791;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}