body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    /* background-image: url(/Snj/assets/img/snj_header_black_texture.jpg); */
    /* background: url(/Snj/assets/img/snj_header_brick-wall-texture.jpg) no-repeat center center; */
    background: url(img/snj_header_piedra.jpg) no-repeat center center;
    /* background-color: #17181a; */
    /* background-color: #080b08; */
    /* background-color: #68d791; */
    background-size: cover;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 60px;
    margin-left: 10px;
    border-radius: 30px;
}

header h1 {
    position: absolute;
    left: 50%;
    top: 3.2%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
    text-shadow: #000000 1px 0 10px;
}

header h1:hover {
    color: #68d791;
    transition: .3s;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: #000000 1px 0 10px;
}

nav ul li a:hover {
    color: #68d791;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 850px;
    background: url(img/snj_main_fondo.webp) no-repeat center center;
    background-size: cover;
}

.intro h2 {
    text-shadow: #000000 1px 0 10px;
    font-size: 50px;   
    color: white;
    margin: 0;
}

.intro p {
    margin-top: 0;
    font-size: 25px;
    color: white;
    text-shadow: #000000 1px 0 10px;
}

main {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.content h3 {
    color: #333;
}

.content p {
    line-height: 1.6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
}

.content img {
    width: 400px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.infoImg {
    width: 40%;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 25px;
}

.infoImg img {
    width: 100%;
    height: 900px;
    border-radius: 20px;
}

.nav-responsive {
    display: none;
}

.nav-responsive i {
    cursor: pointer;
    font-size: 30px;
}

.nav-responsive i:hover{
    color: #68d791;
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul {
        display: block !important;
    }
    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width: 1520px) {
    .infoImg {
        display: none;
    }

    .content {
        margin-right: 10%;
    }
}

footer {
    background-color: #68d791;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}